Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^order$ CreateRoute.php
RewriteRule ^order/(\d+)*$ UpdateRoute.php?reference=$1
