Options +FollowSymLinks
Options -Indexes
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^order$ ReceiveCreateRoute.php
RewriteRule ^order/(\d+)*$ ReceiveUpdateRoute.php?reference=$1
RewriteRule ^order/(\d+)*/status$ ReceiveStatusRoute.php?reference=$1
RewriteRule ^sendUpdate$ SendUpdateRoute.php
